<div *ngIf="question" class="question-detail-content">
  <mat-card class="question-detail-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-title>{{question.question}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>&nbsp;</div>
      <div *ngFor="let choice of question.choices" class="answers">
        <mat-checkbox (change)="vote(choice.url)">
          {{choice.choice}}
        </mat-checkbox>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="close()">Close</button>
    </mat-card-actions>
  </mat-card>
</div>
